:root > * {
    --md-primary-fg-color:        #AACFE8;
    --md-primary-fg-color--light: #AACFE8;
    --md-primary-fg-color--dark:  #AACFE8;
}

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}
:root {
    --md-text-font: "Inter"; 
}