:root > * {
    --md-primary-fg-color:        #AACFE8;
    --md-primary-fg-color--light: #AACFE8;
    --md-primary-fg-color--dark:  #AACFE8;
}

:root {
    --md-text-font: "Inter"; 
}
@font-face {
    font-family: "InterGC";
    src: "https://rsms.me/inter/inter.css";
  }
  
  